<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event.title | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- poster -->
        <ion-img [src]="event.posterURL"></ion-img>
        <!-- social media -->
        <div *ngIf="event.socialMedia">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-item button
                        (click)="onSocialMediaClick(socialMedia.url)"
                        color="primary"
                        *ngFor="let socialMedia of event.socialMedia">
                <ion-icon [name]="socialMediaIcons[socialMedia.platform]" size="large"></ion-icon>
              </ion-item>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding ion-text-center">
        <ion-text>{{ event.description }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>Venue :</strong> {{ event.venue | titlecase }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>Timing :</strong> {{ event.startTime }}
          <strong>to :</strong> {{ event.endTime }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>From :</strong> {{ event.startDate | date }}
          <strong>To :</strong> {{ event.endDate | date }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>Organising Committee/Dept. :</strong> {{ event.org.name + ' ' + event.org.type | titlecase }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding" *ngIf="event.pdfURL">
      <ion-col>
        <ion-text>
          <strong>Download pdf : </strong>
          <a [download]="event.title + '.pdf'" [href]="event.pdfURL">{{ event.title }}-pdf</a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
