<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Timetable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating" color="primary"><b>Year</b></ion-label>
                  <ion-select (ionFocus)="onInputFocus()" ngModel name="yearControl" required>
                    <ion-select-option [value]="year" *ngFor="let year of years;">{{ year }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating" color="primary"><b>Branch</b></ion-label>
                  <ion-select (ionFocus)="onInputFocus()" ngModel name="branchControl" required>
                    <ion-select-option [value]="branch.code" *ngFor="let branch of branches;"
                      >{{ branch.name + ' ' + 'Engineering' | titlecase }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid">Find </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="!isUserSelecting && lectures.length > 0">
      <app-classroom-info-card [lecture]="lecture" *ngFor="let lecture of lectures"></app-classroom-info-card>
    </div>
  </form>
</ion-content>
