<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/blogs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ blog.title | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- poster -->
        <ion-img [src]="blog.posterURL"></ion-img>
        <!-- social media -->
        <div *ngIf="blog.socialMedia">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-item button
                        (click)="onSocialMediaClick(socialMedia.url)"
                        color="primary"
                        *ngFor="let socialMedia of blog.socialMedia">
                <ion-icon [name]="socialMediaIcons[socialMedia.platform]" size="large"></ion-icon>
              </ion-item>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding ion-text-center">
        <ion-text>{{ blog.description }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>After reading this blog you will get to know... :</strong>
        </ion-text>
        <ul class="blog-points">
          <li *ngFor="let point of blog.featurePoints">{{ point }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>Read full blog here : </strong>
          <a target="_blank" [href]="blog.blogURL">{{ blog.title }}</a>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text>
          <strong>Posted By :</strong> {{ blog.org.name + ' ' + blog.org.type | titlecase }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
