<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blogs</ion-title>
    <ion-item slot="end" button color="primary">
      <!-- filter chip -->
      <ion-chip *ngIf="isFilterActive" (click)="onChipPress()">
        <ion-label color="light">{{ chipText | uppercase }}</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
      <!-- filter icon & label -->
      <ion-icon name="funnel"></ion-icon>
      <ion-label>Filter</ion-label>
      <!-- select option -->
      <ion-select (ionChange)="onFilterChange($event)" *ngIf="!isFilterActive">
        <ion-select-option *ngFor="let option of filter" [value]="option.value" [disabled]="option.disable">{{ option.text | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
