<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-item slot="end" button color="primary">
      <!-- filter chip -->
      <ion-chip *ngIf="isFilterActive" (click)="onChipRemove()">
        <ion-label color="light">{{ chipText | uppercase }}</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
      <!-- filter icon & label -->
      <ion-icon *ngIf="!isFilterActive" name="funnel"></ion-icon>
      <ion-label *ngIf="!isFilterActive">Filter</ion-label>
      <!-- select option -->
      <ion-select (ionChange)="onFilterSelect($event)" *ngIf="!isFilterActive">
        <ion-select-option *ngFor="let option of filter" [value]="option.code">
          {{ (option.type === 'department' ? 'Dept. of ' + option.name + ' Engineering' : option.name + ' Committee') | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- current and upcoming events tab -->
  <ion-segment (ionChange)="onTabChange($event)">
    <ion-segment-button value="current" checked>Current Events</ion-segment-button>
    <ion-segment-button value="upcoming">Upcoming Events</ion-segment-button>
  </ion-segment>
  <!-- list of events -->
  <app-event-list [eventCategory]="selectedTab"></app-event-list>

</ion-content>
